In [2]:
print('Ola Mundo!')

Ola Mundo!

In [3]:
!pip install pyautogui

Requirement already satisfied: pyautogui in c:\users\coneg\appdata\roaming\python\python311\site-packages (0.9.53)
Requirement already satisfied: pymsgbox in c:\users\coneg\appdata\roaming\python\python311\site-packages (from pyautogui) (1.0.9)
Requirement already satisfied: PyTweening>=1.0.1 in c:\users\coneg\appdata\roaming\python\python311\site-packages (from pyautogui) (1.0.4)
Requirement already satisfied: pyscreeze>=0.1.21 in c:\users\coneg\appdata\roaming\python\python311\site-packages (from pyautogui) (0.1.28)
Requirement already satisfied: pygetwindow>=0.0.5 in c:\users\coneg\appdata\roaming\python\python311\site-packages (from pyautogui) (0.0.9)
Requirement already satisfied: mouseinfo in c:\users\coneg\appdata\roaming\python\python311\site-packages (from pyautogui) (0.1.3)
Requirement already satisfied: pyrect in c:\users\coneg\appdata\roaming\python\python311\site-packages (from pygetwindow>=0.0.5->pyautogui) (0.2.0)
Requirement already satisfied: pyperclip in c:\users\coneg\appdata\roaming\python\python311\site-packages (from mouseinfo->pyautogui) (1.8.2)

In [43]:
import pyautogui
import time
import pandas

In [34]:
#Clicar   -> pyautogui.click
#Escrever -> pyautogui.write 
#Apertar  -> pyautogui.press
#Scroll "Rolar" -> pyautogui.scroll(100) números positivos rola para cima, números negativos rola para baixo

In [35]:
#Abre uma nova guia do chrome
pyautogui.hotkey("ctrl","t")

In [28]:
#Cria uma pausa de 1 segundo a cada ação 
pyautogui.PAUSE = 1

In [40]:
#Abre o menu iniciar do Windows
pyautogui.press("win")

#Abre o google chrome
pyautogui.write("chrome")

#Preciona a tecla enter
pyautogui.press("enter")

#Armazena o link 
link = ("https://dlp.hashtagtreinamentos.com/python/intensivao/login")

#Passa o link de acesso a pagina como parametro;
pyautogui.write(link)

# Preciona enter para entrar no site
pyautogui.press("enter")

#Esperar por 3 segundos
time.sleep(3)

#Click
pyautogui.click(x=867, y=351)

#Escrever o e-mail
pyautogui.write("EmailTeste@gmail.com")

#Passar no campo de senha utilizando a telca tab 
pyautogui.press("tab")

#Escrever senha
pyautogui.write("senhaTeste")

#Clicar no botão logar 
pyautogui.click(x=867, y=351) #Alterar

#Esperar por 3 segundos
time.sleep(3)

# Lendo uma tabela com o pandas
#Se estiver na mesma pasta basta colocar o nome do arquivo,assim como no modelo abaixo
tabelas = pandas.read_csv("produto.csv")

In [41]:
time.sleep(5)
print(pyautogui.position())

Point(x=867, y=351)

In [49]:
# Lendo uma tabela com o pandas
#Se estiver na mesma pasta basta colocar o nome do arquivo,assim como no modelo abaixo
tabela = pandas.read_csv("C:/Users/coneg/OneDrive/Área de Trabalho/baseDados/produtos.csv")

print(tabela)

         codigo       marca        tipo  categoria  preco_unitario  custo  \
0    MOLO000251    Logitech       Mouse          1           25.95    6.5
1    MOLO000192    Logitech       Mouse          2           19.95    5.0
2    CAHA000251     Hashtag      Camisa          1           25.00   11.0
3    CAHA000252     Hashtag      Camisa          2           25.00   11.0
4    MOMU000111  Multilaser       Mouse          1           11.99    3.4
..          ...         ...         ...        ...             ...    ...
288  ACAP000192       Apple  Acessorios          2           19.00    3.8
289  ACSA0009.3     Samsung  Acessorios          3            9.55    2.1
290  CEMO000271    Motorola     Celular          1          279.00   72.5
291  FOMO000152    Motorola        Fone          2          150.00   33.0
292  CEMO000223    Motorola     Celular          3          229.00   55.0

                  obs
0                 NaN
1                 NaN
2                 NaN
3    Conferir estoque
4                 NaN
..                ...
288               NaN
289               NaN
290               NaN
291               NaN
292               NaN

[293 rows x 7 columns]

In [51]:
display(tabela)

,codigo,marca,tipo,categoria,preco_unitario,custo,obs
0,MOLO000251,Logitech,Mouse,1,25.95,6.5,NaN
1,MOLO000192,Logitech,Mouse,2,19.95,5.0,NaN
2,CAHA000251,Hashtag,Camisa,1,25.00,11.0,NaN
3,CAHA000252,Hashtag,Camisa,2,25.00,11.0,Conferir estoque
4,MOMU000111,Multilaser,Mouse,1,11.99,3.4,NaN
...,...,...,...,...,...,...,...
288,ACAP000192,Apple,Acessorios,2,19.00,3.8,NaN
289,ACSA0009.3,Samsung,Acessorios,3,9.55,2.1,NaN
290,CEMO000271,Motorola,Celular,1,279.00,72.5,NaN
291,FOMO000152,Motorola,Fone,2,150.00,33.0,NaN
292,CEMO000223,Motorola,Celular,3,229.00,55.0,NaN