In [3]:
!pip install numpy scikit-learn

Requirement already satisfied: numpy in c:\users\coneg\anaconda3\lib\site-packages (1.24.3)
Requirement already satisfied: scikit-learn in c:\users\coneg\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: scipy>=1.5.0 in c:\users\coneg\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\coneg\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\coneg\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [4]:
import pandas as pd 
tabela = pd.read_csv("C:/Users/coneg/OneDrive/Área de Trabalho/JornadaPython/AULA_3/clientes.csv")
display(tabela)

,id_cliente,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,...,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,score_credito,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
0,3392,1,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,...,265.0,21.465380,alto_gasto_pagamento_baixos,312.494089,Good,1,1,1,1,0
1,3392,2,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,...,266.0,21.465380,baixo_gasto_pagamento_alto,284.629162,Good,1,1,1,1,0
2,3392,3,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,...,267.0,21.465380,baixo_gasto_pagamento_medio,331.209863,Good,1,1,1,1,0
3,3392,4,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,5.0,...,268.0,21.465380,baixo_gasto_pagamento_baixo,223.451310,Good,1,1,1,1,0
4,3392,5,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,6.0,...,269.0,21.465380,alto_gasto_pagamento_medio,341.489231,Good,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,37932,4,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,23.0,...,378.0,24.028477,alto_gasto_pagamento_alto,479.866228,Poor,1,0,0,0,1
99996,37932,5,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,18.0,...,379.0,24.028477,alto_gasto_pagamento_medio,496.651610,Poor,1,0,0,0,1
99997,37932,6,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,27.0,...,380.0,24.028477,alto_gasto_pagamento_alto,516.809083,Poor,1,0,0,0,1
99998,37932,7,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,20.0,...,381.0,24.028477,baixo_gasto_pagamento_alto,319.164979,Standard,1,0,0,0,1
99999,37932,8,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,18.0,...,382.0,24.028477,alto_gasto_pagamento_medio,393.673696,Poor,1,0,0,0,1

In [5]:
print(tabela.info())
print(tabela.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id_cliente                100000 non-null  int64
 1   mes                       100000 non-null  int64
 2   idade                     100000 non-null  float64
 3   profissao                 100000 non-null  object
 4   salario_anual             100000 non-null  float64
 5   num_contas                100000 non-null  float64
 6   num_cartoes               100000 non-null  float64
 7   juros_emprestimo          100000 non-null  float64
 8   num_emprestimos           100000 non-null  float64
 9   dias_atraso               100000 non-null  float64
 10  num_pagamentos_atrasados  100000 non-null  float64
 11  num_verificacoes_credito  100000 non-null  float64
 12  mix_credito               100000 non-null  object
 13  divida_total              100000 non-null  float64
 14  taxa_uso_credito          100000 non-null  float64
 15  idade_historico_credito   100000 non-null  float64
 16  investimento_mensal       100000 non-null  float64
 17  comportamento_pagamento   100000 non-null  object
 18  saldo_final_mes           100000 non-null  float64
 19  score_credito             100000 non-null  object
 20  emprestimo_carro          100000 non-null  int64
 21  emprestimo_casa           100000 non-null  int64
 22  emprestimo_pessoal        100000 non-null  int64
 23  emprestimo_credito        100000 non-null  int64
 24  emprestimo_estudantil     100000 non-null  int64
dtypes: float64(14), int64(7), object(4)
memory usage: 19.1+ MB
None
Index(['id_cliente', 'mes', 'idade', 'profissao', 'salario_anual',
       'num_contas', 'num_cartoes', 'juros_emprestimo', 'num_emprestimos',
       'dias_atraso', 'num_pagamentos_atrasados', 'num_verificacoes_credito',
       'mix_credito', 'divida_total', 'taxa_uso_credito',
       'idade_historico_credito', 'investimento_mensal',
       'comportamento_pagamento', 'saldo_final_mes', 'score_credito',
       'emprestimo_carro', 'emprestimo_casa', 'emprestimo_pessoal',
       'emprestimo_credito', 'emprestimo_estudantil'],
      dtype='object')

In [6]:
from sklearn.preprocessing import LabelEncoder
#Transforma a coluna de texto em número 
codificador = LabelEncoder()

#Aplicamos o codificador em todas as colunas exceto na coluna score_credito
for coluna in tabela.columns:
    if tabela[coluna].dtype == "object" and coluna != "score_credito":
        tabela[coluna] = codificador.fit_transform(tabela[coluna])

In [7]:
tabela["profissao"] = codificador.fit_transform(tabela["profissao"])

In [8]:
print(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id_cliente                100000 non-null  int64
 1   mes                       100000 non-null  int64
 2   idade                     100000 non-null  float64
 3   profissao                 100000 non-null  int64
 4   salario_anual             100000 non-null  float64
 5   num_contas                100000 non-null  float64
 6   num_cartoes               100000 non-null  float64
 7   juros_emprestimo          100000 non-null  float64
 8   num_emprestimos           100000 non-null  float64
 9   dias_atraso               100000 non-null  float64
 10  num_pagamentos_atrasados  100000 non-null  float64
 11  num_verificacoes_credito  100000 non-null  float64
 12  mix_credito               100000 non-null  int32
 13  divida_total              100000 non-null  float64
 14  taxa_uso_credito          100000 non-null  float64
 15  idade_historico_credito   100000 non-null  float64
 16  investimento_mensal       100000 non-null  float64
 17  comportamento_pagamento   100000 non-null  int32
 18  saldo_final_mes           100000 non-null  float64
 19  score_credito             100000 non-null  object
 20  emprestimo_carro          100000 non-null  int64
 21  emprestimo_casa           100000 non-null  int64
 22  emprestimo_pessoal        100000 non-null  int64
 23  emprestimo_credito        100000 non-null  int64
 24  emprestimo_estudantil     100000 non-null  int64
dtypes: float64(14), int32(2), int64(8), object(1)
memory usage: 18.3+ MB
None

In [25]:
# A INTELIGÊNCIA ARTIFICIAL PRECISA DE DADOS DE TREINO E DADOS DE TESTE

y = tabela["score_credito"]
x = tabela.drop(columns =["score_credito", "id_cliente"])

from sklearn.model_selection import train_test_split

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y)

In [26]:
print(x_treino)

       mes  idade  profissao  salario_anual  num_contas  num_cartoes  \
95097    2   19.0          0       59908.77         3.0          3.0
8585     2   34.0          6       42018.21         0.0          7.0
92903    8   43.0          9       56180.84         6.0         10.0
50157    6   44.0          9       45033.54         5.0          6.0
13185    2   55.0          5       69823.72         4.0          2.0
...    ...    ...        ...            ...         ...          ...
57721    2   37.0          2       60537.18         7.0          4.0
65553    2   32.0          3      123523.60         1.0          2.0
58614    7   15.0          3       54174.51         6.0          6.0
35930    3   24.0         11       14441.54         9.0          5.0
7024     1   34.0          2      118047.92         2.0          2.0

       juros_emprestimo  num_emprestimos  dias_atraso  \
95097              29.0              5.0         21.0
8585                6.0              2.0          3.0
92903              33.0              5.0         21.0
50157              21.0              2.0         22.0
13185               3.0              4.0          8.0
...                 ...              ...          ...
57721               6.0              2.0         24.0
65553               3.0              4.0          3.0
58614              18.0              7.0         55.0
35930              22.0              6.0         26.0
7024                1.0              3.0         12.0

       num_pagamentos_atrasados  ...  taxa_uso_credito  \
95097                      14.0  ...         38.943017
8585                       10.0  ...         40.504178
92903                      16.0  ...         31.298065
50157                      18.0  ...         24.852021
13185                       1.0  ...         29.445597
...                         ...  ...               ...
57721                      19.0  ...         35.535551
65553                      13.0  ...         28.242153
58614                      23.0  ...         26.125720
35930                      19.0  ...         27.399496
7024                        1.0  ...         28.977478

       idade_historico_credito  investimento_mensal  comportamento_pagamento  \
95097                    110.0           100.520793                        2
8585                     233.0            37.119294                        1
92903                    218.0            66.937422                        3
50157                    210.0            68.662523                        0
13185                    335.0            60.430897                        2
...                        ...                  ...                      ...
57721                    369.0            72.393949                        4
65553                    291.0           158.196641                        5
58614                     77.0            30.567312                        0
35930                    111.0            57.018842                        4
7024                     365.0            83.055174                        5

       saldo_final_mes  emprestimo_carro  emprestimo_casa  emprestimo_pessoal  \
95097       426.261198                 1                0                   1
8585        348.900254                 0                0                   0
92903       214.653939                 0                0                   0
50157       499.564369                 0                1                   0
13185       481.019224                 0                0                   0
...                ...               ...              ...                 ...
57721       104.091891                 0                0                   0
65553       306.860524                 0                1                   0
58614       369.157140                 0                1                   1
35930       261.455590                 1                1                   0
7024        705.006925                 0                0                   1

       emprestimo_credito  emprestimo_estudantil
95097                   1                      1
8585                    0                      1
92903                   1                      0
50157                   0                      0
13185                   1                      0
...                   ...                    ...
57721                   1                      0
65553                   1                      0
58614                   1                      0
35930                   0                      0
7024                    0                      0

[75000 rows x 23 columns]

In [ ]:
#Criar a Inteligência artificial
#Criar o modelo de Arvore de Decisão
#KNN - Vizinhos próximos -> Kneighbors

In [27]:
#Importa a inteligênfcia artificial 
#Cria a inteligência e treina

#Importa 
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

#Cria
modelo_arvoredecisao = RandomForestClassifier()
modelo_knn = KNeighborsClassifier()

#Treina
modelo_arvoredecisao.fit(x_treino, y_treino)
modelo_knn.fit(x_treino, y_treino)

KNeighborsClassifier()

In [32]:

from sklearn.metrics import accuracy_score

previsao_arvoredecisao = modelo_arvoredecisao.predict(x_teste) 
previsao_knn = modelo_knn.predict(x_teste.to_numpy())

print(accuracy_score(y_teste, previsao_arvoredecisao))
print(accuracy_score(y_teste, previsao_knn))

C:\Users\coneg\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

0.82584
0.74312

In [35]:
# Melhor modelo para esse caso é o  modelo de arvore de decisão
# Fazer novas previsões

#Importar novos clientes
tabela_novos_clientes = pd.read_csv("C:/Users/coneg/OneDrive/Área de Trabalho/JornadaPython/AULA_3/novos_clientes.csv")
display(tabela_novos_clientes)
#Codificar novos clientes

,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,num_pagamentos_atrasados,...,taxa_uso_credito,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
0,1,31.0,empresario,19300.340,6.0,7.0,17.0,5.0,52.0,19.0,...,29.934186,218.0,44.50951,baixo_gasto_pagamento_baixo,312.487689,1,1,0,0,0
1,4,32.0,advogado,12600.445,5.0,5.0,10.0,3.0,25.0,18.0,...,28.819407,12.0,0.00000,baixo_gasto_pagamento_medio,300.994163,0,0,0,0,1
2,2,48.0,empresario,20787.690,8.0,6.0,14.0,7.0,24.0,14.0,...,34.235853,215.0,0.00000,baixo_gasto_pagamento_alto,345.081577,0,1,0,1,0

In [37]:
#Transformar valores escritos em categorias numéricas 0 e 1 ,2 ...
tabela_novos_clientes["profissao"] = codificador.fit_transform(tabela_novos_clientes["profissao"])
tabela_novos_clientes["mix_credito"] = codificador.fit_transform(tabela_novos_clientes["mix_credito"])
tabela_novos_clientes["comportamento_pagamento"] = codificador.fit_transform(tabela_novos_clientes["comportamento_pagamento"])
display(tabela_novos_clientes)

,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,num_pagamentos_atrasados,...,taxa_uso_credito,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
0,1,31.0,1,19300.340,6.0,7.0,17.0,5.0,52.0,19.0,...,29.934186,218.0,44.50951,1,312.487689,1,1,0,0,0
1,4,32.0,0,12600.445,5.0,5.0,10.0,3.0,25.0,18.0,...,28.819407,12.0,0.00000,2,300.994163,0,0,0,0,1
2,2,48.0,1,20787.690,8.0,6.0,14.0,7.0,24.0,14.0,...,34.235853,215.0,0.00000,0,345.081577,0,1,0,1,0

In [38]:
previsoes = modelo_arvoredecisao.predict(tabela_novos_clientes)
print(previsoes)

['Poor' 'Good' 'Standard']